{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
  <form method="POST" action="{{ url_for('auth.sign_up') }}">
    <h3 align="center">Sign Up</h3>

    <!-- Business Name -->
    <div class="form-group">
      <label for="business-name">Business Name</label>
      <input
        type="text"
        class="form-control"
        id="business-name"
        name="business_name"
        placeholder="Enter business name"
        required
      />
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
        required
      />
    </div>

    <!-- Address -->
    <div class="form-group">
      <label for="address">Address</label>
      <input
        type="text"
        class="form-control"
        id="address"
        name="address"
        placeholder="Enter address"
        required
      />
    </div>

    <!-- Username -->
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Enter username"
        required
      />
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
        required
      />
    </div>

    <!-- Registration ID -->
    <div class="form-group">
      <label for="registration-id">Business Registration ID</label>
      <input
        type="text"
        class="form-control"
        id="registration-id"
        name="registration_id"
        placeholder="Enter business registration ID"
        required
      />
    </div>

    <br />

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
