{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
  <form method="POST" action="{{ url_for('auth.sign_up') }}">
    <h3 align="center">Sign Up</h3>

    <!-- Business Name -->
    <div class="form-group">
      <label for="business-name">Business Name</label>
      <input
        type="text"
        class="form-control"
        id="business-name"
        name="business_name"
        placeholder="Enter business name"
        required
      />
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
        required
      />
    </div>

    <!-- First Name -->
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input
          type="firstname"
          class="form-control"
          id="firstname"
          name="firstname"
          placeholder="Enter First Name"
          required
        />
      </div>

    <!-- Last Name -->
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input
          type="lastname"
          class="form-control"
          id="lastname"
          name="lastname"
          placeholder="Enter Last Name"
          required
        />
      </div>

    <!-- Address -->
    <div class="form-group">
      <label for="address">Address</label>
      <input
        type="text"
        class="form-control"
        id="address"
        name="address"
        placeholder="Enter address"
        required
      />
    </div>

    <!-- Username -->
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Enter username"
        required
      />
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
        required
      />
    </div>

    <!-- Registration ID -->
    <div class="form-group">
      <label for="registration-id">Business Registration ID</label>
      <input
        type="text"
        class="form-control"
        id="registration-id"
        name="registration_id"
        placeholder="Enter business registration ID"
        required
      />
    </div>

    <!-- Industry Dropdown -->
    <div class="form-group">
      <label for="registration-id">Industry</label>
      <select
        class="form-control"
        id="industry"
        name="industry"
        required
      >
        <option value="" disabled selected>Select an industry</option>
        <option value="1">Manufacturing and Industrial</option>
        <option value="2">Retail / E-Commerce</option>
        <option value="3">Food and Agriculture</option>
        <option value="4">Energy and Utilities</option>
        <option value="5">Technology</option>
        <option value="6">Healthcare and Pharmaceuticals</option>
        <option value="7">Construction and Real Estate</option>
        <option value="8">Transportation and Logistics</option>
      </select>
    </div>

    <br />

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
